<?php 
 
 eliminarListado();
 
 ?>

<script src="view/assets/js/inicio-usuario.js?version=1.05"></script>

<div class="content-body">

    <div class="content">

        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center m-3">¡BIENVENIDO!</h1>
                <p class="text-center">Descubrí los negocios cercanos a vos, sus promociones y
                    ofertas que ¡NO TE PODÉS PERDER!
                </p>
            </div>
        </div>

        <div class="row" id="negocios" style="margin-left: 0px !important; margin-right: 0px !important;">

        </div>

    </div>

</div>