<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="view/assets/js/metrica.js?version=1.05"></script>

<!-- Content body -->
<div class="content-body">
    <!-- Content -->
    <div class="content">

<div class="row">
<div class="col-md-6">

    <div class="card">
        <div class="card-header">
            <h3 class="text-center p-3">MÉTRICA COMPARADOR</h3>
        </div>
        <div class="card-body" id = "metricaC">
        </div>
    </div>

</div>
</div>

    </div>
    <!-- ./ Content -->
</div>
<!-- ./ Content body -->