<div class="navigation">
    <div class="navigation-header">
        <span>Menu de navegación</span>
        <a href="#">
            <i class="ti-close"></i>
        </a>
    </div>
    <div class="navigation-menu-body">
        <ul>
            <li>
                <a <?php active_0() ?>href=
                    <?php echo "index.php?&page=0" ?>>
                    <span class="nav-link-icon">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                    <span class="texto-navegacion">Métricas</span>
                </a>
            </li>
            <li>
                <a <?php active_1() ?> href="index.php?&page=1" ?>
                    <span class="nav-link-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="texto-navegacion">Comercios</span>
                </a>
            </li>

            <li>
                <a <?php active_3() ?> href="index.php?&page=3" ?>
                    <span class="nav-link-icon">
                        <i class="fas fa-users"></i> </span>
                    <span class="texto-navegacion">Usuarios</span>
                </a>
            </li>

            <li>
                <a <?php active_4() ?> href="index.php?&page=4" ?>
                    <span class="nav-link-icon">
                        <i class="fas fa-database"></i> </span>
                    <span class="texto-navegacion">Productos</span>
                </a>
            </li>

            <li>
                <a <?php active_2() ?> href=
                    <?php echo "index.php?&page=2" ?>>
                    <span class="nav-link-icon">
                        <i class="fas fa-cog"></i> </span>
                    <span class="texto-navegacion">Administrar Cuenta</span>
                </a>
            </li>

            <li>
                <a <?php active_5() ?> href=
                    <?php echo "index.php?&page=5" ?>>
                    <span class="nav-link-icon">
                        <i class="fas fa-ticket-alt"></i>
                    </span>
                    <span class="texto-navegacion">Generar Cupones</span>
                </a>
            </li>

            <li>
                <a href="controller/destruye_sesion_cookies.php">
                    <span class="nav-link-icon">
                        <i class="fas fa-user-cog"></i>
                    </span>
                    <span class="texto-navegacion">Cerrar Sesión</span>
                </a>
            </li>

        </ul>
    </div>
</div>