<div class="navigation" style="display: none;">
    <div class="navigation-header">
        <span>Menu de navegación</span>
        <a href="#">
            <i class="ti-close"></i>
        </a>
    </div>
    <div class="navigation-menu-body">
        <ul>
            <li>
                <a  class="active"  href=index.php>
            <span class="nav-link-icon">
                <i data-feather="home"></i>
            </span>
                    <span>Inicio</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>